{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ asset("img/about-bg.jpg") | imagine_filter("background") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>À Propos</h1>
            <span class="subheading">Ce que je fais.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ blogueur.about}}
      </div>
    </div>
  </div>
{% endblock %}
