<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Se connecter</title>
  {% block stylesheets%}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>


<body>
  <!-- Main Content -->
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row" style="width: 600px">
      <div class="col-lg-12 col-md-12 mx-auto">
        <p>Ouvrir une session</p>
        <form method="post">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
              <div class="mb-3">
                  You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
          {% endif %}

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email</label>
              <input type="email" value="{{ last_username }}" class="form-control" placeholder="Email Address" 
                name="email" required autofocus>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Mot de Passe</label>
              <input type="password" name="password" class="form-control" placeholder="Mot de passe" required>

              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
          </div>
          <br>

          {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
          #}

          <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
        </form>
      </div>
    </div>
  </div>

  {% block javascirpts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>