<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ asset("img/home-bg.jpg") | imagine_filter("background") }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Thomas ROBERT</h1>
          <span class="subheading">Un Blog sous Symfony 5</span>
        </div>
      </div>
    </div>
  </div>
</header>