{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  {% include 'home/header.html.twig' %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in articles %}
          <div class="post-preview">
            <a href="{{ path('articles_details', { 'slug': article.slug }) }}">
              <h2 class="post-title">
                {{ article.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ article.content | u.truncate(200, '...', false) | raw }}
              </h3>
            </a>
            <p class="post-meta">Posté par
              <a href="#">Start Bootstrap</a>
              le {{ article.publicationDate | date('d/m/Y') }}</p>
          </div>
          <hr>
        {% endfor %}
        <!-- Pager -->
        {# <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Anciens Articles &rarr;</a>
        </div> #}
        <div class="d-flex justify-content-center mt-5">
        {% do articles.setPageRange(2) %}
        {{ knp_pagination_render(articles, 'base/pagination.html.twig') }}
      </div>
      </div>
    </div>
  </div>
{% endblock %}
