<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ path('home') }}">ThomasROBERT</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="{{ path('articles') }}">Articles</a>
        </li> #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('categories') }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item nav-tiem nav-link" href="{{ path('categories') }}">Toutes les Catégories</a></li>
            {% for category in categoryNavbar() %}
              <li><a class="dropdown-item nav-tiem nav-link" href="{{ path('articles_categories', { 'slug': category.slug }) }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('about') }}">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Me Contacter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>