<section>
    <div class="container">
      {% for com in comments %}
        <div class="row justify-content-center">
          <div class="col-12 col-m-10 col-lg-9 col-xl-8">
            <div class="card mb-3">
              <div class="card-body text-center">
                {{ com.content }}
              </div>
              <footer class="card-footer">
                <span class="h6">{{ com.author }} le {{ com.createdAt | date('d/m/Y') }}</span>
              </footer>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</section>