<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Laisser un commentaire</p>
        {{ form_start(form) }}
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.author) }}
              {{form_widget(form.author) }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.email) }}
              {{form_widget(form.email) }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.content) }}
              {{form_widget(form.content) }}
            </div>
          </div>
          <br>
          {{form_widget(form.soumettre) }}
        {{ form_end(form) }}

        {# {{ form(form)}} #}
      </div>
    </div>
  </div>