{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ asset("img/home-bg.jpg") | imagine_filter("background") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row align-items-baseline">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Catégories</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% for category in categories %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
              <p class="card-text" style="height: 5.5em">{{ category.description }}</p>
              <a href="{{ path('articles_categories', { 'slug': category.slug }) }}" class="btn btn-primary">Voir Tout</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
