{% extends 'base.html.twig' %}

{% block title %}Me Contacter{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ asset("img/contact-bg.jpg") | imagine_filter("background") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Me Contacter</h1>
            <span class="subheading">Vous avez des questions ? J'ai les réponses.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Vous voulez me contacter ? Remplissez le formulaire ci-dessous pour me m'envoyer un message et je répondrai aussi vite que possible !</p>
        {{ form_start(form) }}
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.name) }}
              {{form_widget(form.name) }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.email) }}
              {{form_widget(form.email) }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{form_label(form.message) }}
              {{form_widget(form.message) }}
            </div>
          </div>
          <br>
          {{form_widget(form.envoyer) }}
        {{ form_end(form) }}

        {# {{ form(form)}} #}
      </div>
    </div>
  </div>
{% endblock %}
