{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ asset("img/home-bg.jpg") | imagine_filter("background") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row align-items-baseline">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tous les articles</h1>
            <!-- <span class="subheading">Un Blog sous Symfony 5</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% for article in articles %}
        {% if article.isPublished == true %}
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="post-preview">
              <a href="{{ path('articles_details', { 'slug': article.slug }) }}">
                <h5 class="post-title" style="height: 8rem">
                  {{ article.title }}
                </h5>
                <h6 class="post-subtitle" style="height: 6rem">
                  {{ article.content | u.truncate(200, '...', false) | raw }}
                </h6>
              </a>
              <p class="post-meta">{% for category in article.category %} {{ category.name }} {{ loop.last ? "" : "," }} {% endfor %}</p>
              <p class="post-meta">Posté par
                <a href="#">Start Bootstrap</a>
                le {{ article.publicationDate | date('d/m/Y') }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
      <div class="d-flex justify-content-center mt-5">
        {% do articles.setPageRange(2) %}
        {{ knp_pagination_render(articles, 'base/pagination.html.twig') }}
      </div>
  </div>
{% endblock %}
