{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ vich_uploader_asset(article, 'imageFile') | imagine_filter("background") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{  article.title }}</h1>
            {% for category in article.category %} <a href="#" class="text-white">{{ category.name }}</a> {{ loop.last ? "" : "," }} {% endfor %}
            <span class="meta">Posté par
              <a href="#">{{ article.user.firstName}} {{ article.user.lastName}}</a>
              le {{ article.publicationDate | date('d/m/Y') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ article.content | raw }}
        </div>
      </div>
    </div>
  </article>
  
  <hr>

  {% include 'comment/form.html.twig' %}

  <hr>
  
  {% include 'comment/comments.html.twig' %}
{% endblock %}